.event-stages-table {
  flex: 1;
  margin-right: 36px;

  &__item {
    padding: 19px 15px;
    padding-left: 26px;
    border: 1px solid transparent;

    &:nth-child(2n + 1) {
      background: #fff;
    }

    &:nth-child(1) {
      border-color: #20a95a;
    }

    &--head {
      background: transparent !important;
      padding: 0 15px 11px 26px;
      border-color: transparent !important;

      .event-stages-table__index,
      .event-stages-table__team-name {
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #757c84;
        font-size: 14px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__index {
    color: #282830;
    font-weight: 700;
    font-size: 18px;
    margin-right: 37px;
    min-width: 30px;
    text-align: center;
  }

  &__team {
    display: flex;
    align-items: center;

    &-name {
      font-size: 18px;
      letter-spacing: 0.01em;
      color: #282830;
      font-weight: 700;
    }

    &-flag {
      margin-right: 10px;
    }
  }
}

@media screen and(max-width:920px) {
  .event-stages-table {
    margin-right: 0;
  }
}
