.container {
  width: 1440px;
  margin: 0 auto;
  max-width: 100%;

  &--main {
    padding-top: 93px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    &--main {
      padding: 93px 3% 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 3%;
  }
}
