.card {
  padding: 26px 24px 23px;

  background: #ffffff;
  border: 1px solid rgba(143, 154, 157, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-right: 35px;

  width: 338px;
  min-height: 330px;

  display: inline-block;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 182px;
    height: 164px;
    background: url(../../assets/logo-star-s.png) center no-repeat;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
  }

  &--live {
    &:after {
      background-image: url(../../assets/logo-star.png);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__head {
    display: flex;

    .card__row {
      width: 100%;
      justify-content: space-between;
    }

    &-title {
      font-size: 14px;
      letter-spacing: 0.01em;
      color: #757c84;
    }
  }

  &__live {
    &-block {
      text-align: right;

      margin-top: -2px;
    }

    &-button {
      display: inline-block;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 7px;
      margin-bottom: 11px;

      position: relative;

      &:before {
        content: "";
        display: inline-block;
        border: 8px solid transparent;
        border-left-color: red;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-12%, -50%);
      }

      &-text {
        letter-spacing: 0.01em;
        color: #fff;
        font-size: 14px;
      }
    }
  }

  &__date {
    text-align: right;
    margin-right: 3px;

    &-time {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 6px;
      color: #282830;
    }

    &-match {
      color: #757c84;
      letter-spacing: 0.01em;
      font-size: 14px;
    }
  }

  &__row {
    display: flex;

    &--center {
      align-items: center;
    }
  }

  &__team {
    &-logos {
      margin-top: 77px;
    }

    &-icon {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-coefs {
      margin-top: 15px;

      .card__row {
        justify-content: space-between;
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-name {
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      color: #282830;
    }

    &-coef {
      background: #fafafa;
      border: 1px solid rgba(151, 151, 151, 0.1);
      text-align: center;
      font-size: 14px;
      padding: 2px 4px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #282830;
      font-weight: 700;
      margin-top: -3px;
      max-width: 60px;
      min-width: 60px;

      &--correct {
        margin-top: -9px;
      }
    }
  }

  &__bottom {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__system-conduction {
    letter-spacing: 0.01em;
    color: #757c84;
    font-size: 14px;
  }

  &__partners {
    display: flex;
  }
}
