.event-bar {
  &__head {
    margin-bottom: 59px;
    border-top: 2px solid #ec3e5a;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding: 15px 40px;
    cursor: pointer;

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.01em;
      color: #282830;
    }

    &--active {
      background: #ec3e5a;

      .event-bar__item-title {
        color: #fff;
      }
    }
  }

  &__cards {
    &-list {
      display: flex;
      // flex-wrap: wrap;
      margin-right: -35px;
      margin-bottom: -20px;

      .card {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and(max-width:1270px) {
  .event-bar {
    &__cards-list {
      flex-wrap: wrap;

      .card {
        width: calc(100% / 3 - 35px);
      }
    }
  }
}

@media screen and(max-width:954px) {
  .event-bar {
    &__cards-list {
      .card {
        width: calc(100% / 2 - 35px);
      }
    }
  }
}

@media screen and(max-width:650px) {
  .event-bar {
    &__cards-list {
      .card {
        width: 100%;
      }
    }
  }
}

@media screen and(max-width:480px) {
  .event-bar {
    &__list {
      justify-content: center;
    }
  }
}
