.event {
  background-color: #18181c;
  padding-top: 225px;
  padding-bottom: 124px;

  &__logo {
    margin-bottom: 45px;
    width: 191px;
    margin-left: -4px;

    &-icon {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title-name {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 69px;
    max-width: 719px;
    margin-bottom: 51px;
    display: inline-block;
  }

  &__description {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: inline-block;
      height: 110px;
      width: 2px;
      background-color: #ec3e5a;
      margin-right: 42px;
    }

    &-text {
      color: #fff;
      line-height: 30px;
      font-size: 18px;
      max-width: 675px;
      letter-spacing: 0.01em;
    }
  }

  &__more {
    color: #fff;
    margin-top: 12px;

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      font-size: 18px;
      letter-spacing: 0.01em;
      margin-right: 40px;
      min-width: 62px;
    }

    &-info {
      font-weight: 700;
      letter-spacing: 0.01em;
      font-size: 18px;
    }
  }

  &__options {
    display: flex;

    &-button {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__socials {
    margin-top: 6px;
    margin-right: 4px;
  }
}
