.event-stages {
  margin-top: 88px;

  &__title {
    margin-bottom: 19px;
  }

  &__description {
    max-width: 55%;
    margin-bottom: 29px;

    &-text {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.01em;
      color: #757c84;
    }
  }

  &__row {
    display: flex;
  }

  &__reg {
    &-title {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.01em;
      color: #282830;
      margin-bottom: 36px;
    }
  }
}

@media screen and(max-width:920px) {
  .event-stages {
    &__row {
      flex-direction: column;
    }

    &__description {
      max-width: 100%;
    }
  }
}
