@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  padding: 0;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

p{
  padding:0;
  margin:0;
}

.app,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
